target
out
.gradle/
*.MF
*.class
catalina.base_IS_UNDEFINED

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
.rup/
=======

# eclipse project file
.pmd
.ruleset
.settings
.classpath
.project
build
bin
test-output
.springBeans